# Auto detect text files and perform LF normalization
* text=auto
/mvnw text eol=lf
*.cmd text eol=crlf
*.html linguist-documentation
*.css linguist-documentation
*.js linguist-documentation
*.txt linguist-documentation